/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap');

/*----------
common styles or utilities 
--------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #F3F1FF;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container {
  background-color: #FFFFFF;
  width: 870px;
  height: 679px;
  border-radius: 5px;
  padding: 30px;
  margin-top: 21px;
}

/* ------------------------------------
Top players styles 
----------------------------------------*/
.top-players {
  margin-bottom: 30px;
}

.section-title {
  color: #562EFF;
  font-size: 24px;
  margin-top: 3px;

}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; same a previous one*/
  row-gap: 30px;
}

hr {
  border: 1px solid #D1D1D1;
  margin-bottom: 27px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  height: 56px;
  width: 56px;
  border-radius: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 24px;
}

/* ---------------------------
top blog styles
------------------------------*/
.blogs {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}

.blog {
  display: flex;
}

.blog img {
  width: 224px;
  height: 127px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9F9F9F;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  color: #562EFF;
  font-size: 16px;

}

/*--------------------------------
  Latest Courses
  --------------------------------*/
.courses {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  /* comma must be required in repeat() */
  color: #1E1E1E;
  column-gap: 24px;
  
}
.course{
  /* width: 252.423px; */
  /* height: 269.786px; */
  background-color: #FFF;
  border: 1px solid #e8e5e5;
  border-radius: 15px;
  padding: 10px 12px 21px 12px;

}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* grid-column-gap: 24px; */
}

.course .course-banner img {
  width: 100%;
  height: 141px;
}

.fa-star.filled {
  color: #FFC014;
}

.fa-star.empty {
  color: #AEAEAE;
}

.course-rate {
  color: #A2A2A2;
}

.course-duration {
  width: 94.826px;
  height: 29.383px;
  background-color: #FFE4E8;
  color: #FF4A60;
  border-radius: 15px;

}
/* --------------------------
    Media queries 
    
-----------------------------*/

/* Mobile Devices */
@media only screen  and (max-width:688px){
  .container, .top-blogs, .courses{
    width: 100%;
    height: 100%;
  }
  .section-title{
    padding-bottom:50px;
    text-align: center;
  }
  .players, .blogs{
    grid-template-columns: repeat(1, 1fr);
  }
  .player, .blog, .courses{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px){
  .container, .top-blogs, .courses{
    width: 100%;
    height: 100%;
  }
  .section-title{
    padding-left:50px;
    padding-bottom:50px;
    text-align: left;
  }
  .players, .blogs, .courses{
    grid-template-columns: repeat(2, 1fr);
  }
  .player, .blog{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}